/** {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}*/
body {
  height: 100vh;
  background: #060ab2;
}
#board-container {
    margin-top: 20px;
    display: flex;
    clear: both;
  
}
.board {
  height: 300px;
  width: 400px;
  border: 5px solid blue;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}
.card-box {
  background-color: #fff;
  height: 100px;
  width: 100px;
  perspective: 800px;
}
.card {
  width: 100%;
  height: 100%;
  transition: transform 0.5s;
  transform-style: preserve-3d;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
  position: relative;
}

.card-front-face {
  position: absolute;
  backface-visibility: hidden;
  width: 100%;
  height: 100%;
  background: #1c7ccc;
}
.card-back-face {
  position: absolute;
  transform: rotateY(180deg);
  backface-visibility: hidden;
  width: 100%;
  height: 100%;
  background: #1c7ccc;
}

.card.is-flipped {
  transform: rotateY(180deg);
}

#play {
  background-color: red;
  height: 50px;
  width: 100px;
}
#timer {
  float: right;
}
#time {
  background-color: red;
  height: 50px;
  width: 100px;
  text-align: center;
  line-height: 50px;
  margin-top: 0px;
}
#clock {
  background-color: red;
  height: 50px;
  width: 50px;
  text-align: center;
  line-height: 50px;
  margin-left: 25px;
  border-radius: 25px;
  color: red;
}
#back {
  background-color: red;
  height: 50px;
  width: 100px;
  text-align: center;
  line-height: 50px;
  margin-top: 0px;
  color: black;
}
#resetClock {
    float: right;
  background-color: red;
  height: 30px;
  width: 70px;
  text-align: center;
  line-height: 30px;
  margin-top: 0px;
  color: black;
}