/*----------------------General----------------------*/
/*python3 -m http.server*/

* {
  margin: 0;
  padding: 0;
  border: 0;
}
body {
  font-family: Lato;
  color: #777777;
}

/*-----line breaks------*/

hr.nav1 {
  border-top: 2px solid gold;
  margin: 10px auto 0px;
  width: 50%;
}

hr.nav2 {
  border-top: 2px solid gold;
  margin: 5px auto 5px;
  width: 70%;
   
}
/*h3 {
	font-size: 20px;
	font-weight: bold;
	color: #999999;
}*/

/*p {
	font-size: 16px;
}*/



/*----------------------Index----------------------*/



/*----------------------Navlogo section----------------------*/

.navlogo-container {
	width: 100%;
	top: 0;
	left: 0;
	padding-left: 0;
	padding-right: 0;
}

.logo {
    /*height: 50px;
    margin-top: 10px;
    font-size: 20px;*/
    border-bottom: 2px solid gold;
}

#title {
margin: 10px 20px;
font-size: 26px;
font-weight: bold;
letter-spacing: 2px;
}

#signin {
    height: 40px;
    width: 100px;
    background-color: rgba(209, 161, 16, 0.993);
    color: black;
    margin: 10px 20px;
    border-color: white;
    border-width: 0;

}

/*.nav-container {}*/

#navbarNavDropdown {
	position: relative;
	z-index: 5;
	width: 50px;
	background-color: #ffffff;
    float: right;
}

#navbarNavDropdown ul li {
	display: inline-block;
}

.navbar {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
	border: 0;
	/*border-bottom: 2px solid rgba(209, 161, 16, 0.993);*/
	width: 100%;
}

.navbar .navbar-brand {
	font-weight: bold;
	font-size: 24px;
	color: #999999;
}

.navbar-custom .navbar-nav .nav-link {
	color: #999999;
	font-weight: bold;
}

.navbar-custom .navbar-nav .nav-link {
	color: #999999;
	font-weight: bold;
}

.navbar-custom .nav-item:hover .nav-link {
	text-decoration: underline;
	color: #999999;
}

.navbar-custom .nav-item.active .nav-link {
	color: #000000;
}

.navbar .navbar-nav .dropdown-item {
	color: #999999;
	font-weight: bold;
}

.navbar .navbar-nav .dropdown-item:hover {
	text-decoration: underline;
}

#bitMatch-alert {
    width: 100%;
    height: 50px;
    background-color: #000000;
    color: #ffffff;
    font-size: 18px;
    font-weight: bold;
    line-height: 20px;
    
}

#bitMatch-alert p {
    margin: 0px 40px;
    padding-top: 10px;
}

#bitMatch-alert span {
    font-weight: bold;
    font-size: 24px;

}

#bitmatch {
    height: 50px;
    width: 150px;
    background-image: url("/assets/images/silver1.jpg");
    background-size: cover;
    color: #ffffff;
    font-weight: bold;
    font-size: 26px;
    border-color: #000000;
    border-width: 0;
    margin-right: 40px;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
    float: right;

}


/*--------------------Header section-------------*/
.outer-header-container {
    width: 100%;
    height: 600px;
}
.header-container {
    height: 500px;
    width: 100%;
    margin-top: 10px;
    margin: 0;
    padding-right: 0;
    padding-left: 0;
    background-image: url("/assets/images/citydark.jpeg");
    background-repeat: no-repeat;
    background-position: center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
    overflow: hidden;
    position: relative;
    
}
#city {
        width: 100%;
        height: 500px;
        background-image: url("/assets/images/bitonl.jpg");
        background-repeat: no-repeat;
        background-position: center;
	    -webkit-background-size: cover;
	    -moz-background-size: cover;
	    -o-background-size: cover;
	    background-size: cover;
        opacity: 0.8;
        position: absolute;
        animation-name: city-zoom;
        animation-duration: 5s;
        animation-fill-mode: forwards;
    }

@keyframes city-zoom {
    from {
      transform: scale(1)
    }
    to {
      transform: scale(1.1)
    }
    }


/*--------------------Yellow section-------------*/
.yellow-container {
     height: 100px;
    width: 100%;
    margin-top: 5px;
    background-color: yellow;
    
}



/*--------------------Courses section-------------*/
.courses-container {
     height: 100px;
    width: 100%;
    margin-top: 5px;
    background-color: red;
   
    
}


/*--------------------coin-call section-------------*/

    

.coin-call-container {
     height: 300px;
    width: 100%;
    margin-top: 5px;
    background-color: blue;
   
    
}
.coin-form #coin-data {
    padding: 12px 20px;
    margin: 8px 0;
    height: 30px;
    width: 200px;
    background-color: blue;
    color: #000000;
    font-weight: bold;
}

.coin-form ::placeholder {
    color: red;
}

.coin-form input[type=text] {
    padding: 12px 20px;
    margin: 8px 0;
    height: 30px;
    width: 200px;
  border: 2px solid red;
  border-radius: 4px;
  background-color: #fff;
  color: #000000;
  font-weight: bold;
  /*color: red;*/

}

.coin-form #coinfetch {
	margin-top: 15px;
	margin-bottom: 20px;
	color: #ffffff;
	background-color: red;
}

/*-----------------------Footer--------------------*/

/*--------------------------------------------trial*/


div #map1 {
    /*height: 700px;*/
    min-height: 360px;
}
/*-------------------------------------------embed-maps*/
/*.embed-map {
    width: 50%;
    height: 300px; 
    border: 0;
    display: block;
    margin: 50px auto;
}*/

.embed-btn {
  
    margin-top: 10px;
}

/*--------------------------------------------Contact form*/

/*#header p {
    
    margin: 20px auto;
}*/


.bg-color-contact {
    background-color: #fff;
}
.contact-heading {
    font-family: "Exo", sans-serif;
    font-weight: 300;
    margin-top: 25px;
    margin-bottom: 20px;
    color: blue;
    
}

/*center-form */
.form-group {
    padding-top: 10px;
    margin: 0 auto;
    max-width: 90%;
}

button[type="submit"] {
    margin-top: 15px;
    margin-bottom: 20px;
    color: #fafafa;
    background-color: #e84610;
}