/*----------------------General----------------------*/
/*python3 -m http.server*/

* {
  margin: 0;
  padding: 0;
  border: 0;
}
body {
  color: #777777;
  font-family: 'Roboto', sans-serif;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

.center-vandh {
  display: flex;
  justify-content: center;
  align-items: center;
}


/*-----line breaks------*/

hr.nav1 {
  border-top: 2px solid gold;
  margin: 10px auto 0px;
  width: 50%;
}

hr.nav2 {
  border-top: 2px solid gold;
  margin: 5px auto 5px;
  width: 70%;   
}

hr.six {
  border-top: 2px solid gold;
  margin: 50px auto 0px;
  width: 60%;
}

hr.us {
  border-top: 2px solid #666666;
  margin: 5px auto 0px;
  width: 100%;
}

hr.usend {
  border-top: 2px solid #666666;
  margin: 50px auto 50px;
  width: 100%;
}

/*----------------------Navlogo section----------------------*/

.navlogo-container {
	width: 100%;
	top: 0;
	left: 0;
	padding-left: 0;
	padding-right: 0;
}

.logo {
    border-bottom: 2px solid gold;
    width: 100%;
    position: relative;
}

#title {
font-size: 30px;
font-weight: bold;
letter-spacing: 2px;
font-family: 'Goldman', cursive;
color: #666666;
}

#signin {
    height: 40px;
    width: 100px;
    background-color: rgba(209, 161, 16, 0.993);
    color: #ffffff;
    margin: 10px 20px;
    border-color: white;
    border-width: 0;
    font-size: 24px;
    font-weight: bold;
    border-radius: 5px;
}

#navbarNavDropdown {
	position: relative;
	z-index: 5;
	width: 50px;
	background-color: #ffffff;
    float: right;
}

#navbarNavDropdown ul li {
	display: inline-block;
}

.navbar {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
	border: 0;
	width: 100%;
}

.navbar .navbar-brand {
	font-weight: bold;
	font-size: 24px;
	color: #999999;
    font-family: 'Goldman', cursive;
}

.navbar-custom .navbar-nav .nav-link {
	color: #999999;
	font-weight: bold;
}

.navbar-custom .navbar-nav .nav-link {
	color: #999999;
	font-weight: bold;
}

.navbar-custom .nav-item:hover .nav-link {
	text-decoration: underline;
	color: #999999;
}

.navbar-custom .nav-item.active .nav-link {
	color: #000000;
}

.navbar .navbar-nav .dropdown-item {
	color: #999999;
	font-weight: bold;
}

.navbar .navbar-nav .dropdown-item:hover {
	text-decoration: underline;
}

#bitMatch-alert {
    width: 100%;
    background-color: #000000;
    color: #ffffff;
    font-weight: bold;
    position: relative;
}

#bitMatch-alert p {
    margin: 0px 40px;
    font-size: 24px;
}

#bitMatch-alert span {
    font-weight: bold;
    font-size: 26px;
}

#bitmatch {
    height: 50px;
    width: 150px;
    background-image: url("../images/silver1.jpg");
    background-size: cover;
    color: #ffffff;
    font-weight: bold;
    font-size: 26px;
    margin-right: 40px;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
    border-radius: 5px;
}

#bitmatch a {
    color: #ffffff;
    font-weight: bold;
    font-size: 26px;
}

.pagename {
    font-weight: bold;
    font-size: 26px;   
}

/*--------------------Header section-------------*/
.outer-header-container {
    width: 100%;
    height: 600px;
}
.header-container {
    height: 500px;
    width: 100%;
    margin-top: 10px;
    margin: 0;
    padding-right: 0;
    padding-left: 0;
    background-image: url("../images/citydark.jpeg");
    background-repeat: no-repeat;
    background-position: center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
    overflow: hidden;
    position: relative;
}

#city {
        width: 100%;
        height: 500px;
        background-image: url("../images/bitonl.jpg");
        background-repeat: no-repeat;
        background-position: center;
	    -webkit-background-size: cover;
	    -moz-background-size: cover;
	    -o-background-size: cover;
	    background-size: cover;
        opacity: 0.8;
        position: absolute;
        animation-name: city-zoom;
        animation-duration: 5s;
        animation-fill-mode: forwards;
}

@keyframes city-zoom {
    from {
      transform: scale(1)
    }
    to {
      transform: scale(1.1)
    }
    }

#header-text {
    color: #ffffff;
    margin: 180px auto 0px;
}

#head {
    font-weight: bold;
    background-color: #000000;
    animation-name: head-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

@keyframes head-zoom {
    from {
      font-size: 6px;
    }
    to {
      font-size: 36px;
    }
    }

#headsmall {
    font-weight: bold;
    margin-top: 30px;
    animation-name: small-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

@keyframes small-zoom {
    from {
      font-size: 2px;
    }
    to {
      font-size: 20px;
    }
}

#book {
    height: 40px;
    width: 100px;
    background-color: rgba(209, 161, 16, 0.993);
    color: #ffffff;
    margin-top: 100px;
    margin-bottom: 0px;
    margin-left: 100px;
    border-color: white;
    border-width: 0;
    font-size: 26px;
    font-weight: bold;
    border-radius: 5px;
}

/*--------------------goals section-------------*/
.goals-container {
     width: 100%;
     margin-top: 70px;
}

.goals-block {
  border-right: 2px solid #777777;  
  padding: 20px 70px 70px 70px;
}

.goals-title {
    font-weight: bold;
    font-size: 20px;
    color: #000000;
    margin-bottom: 30px;

}

.goals-par {
    padding-top: 20px;
    font-size: 16px;
    padding-bottom: 20px;
}

.goals-link {
    font-size: 18px;
    font-weight: bold;
    color: rgba(209, 161, 16, 0.993);
    margin-bottom: 10px;
    margin-top: 30px;
}

.goals-link:hover {
  color: #000000;
}

.goals-icon {
    font-size: 18px;
    margin-left: 50px;
}

/*--------------------college and crypto sections-------------*/

.college-container {
     width: 100%;
     margin-top: 70px;
     background-color: #000000;
}

.crypto-container {
     width: 100%;
     margin-top: 70px;
     background-color: #000000;
}

.briefs {
    padding: 70px;
}

.briefs-title {
    color: #ffffff;
    margin-top: 20px;
    padding-left: 30px;
    font-family: 'Goldman', cursive;
}

.briefs-par {
    color: #ffffff;
    margin-top: 20px;
    padding-left: 30px;
    padding-right: 30px;
}

.riddles {
    color: rgba(209, 161, 16, 0.993);
    margin-top: 20px;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 20px;
}

/*--------------------Courses section-------------*/
.courses-container {
    width: 100%;
    margin-top: 70px;
}

.courses-block {
    margin-top: 5px;
}

.course-img {
    height: 150px;
    width: 90%;
    margin-left: 30px;
}

.course-title {
    color: #000000;
    font-weight: bold;
    font-size: 20px;
    margin-left: 30px;
    margin-top: 30px;
}

.course-par {
    padding-right: 50px;
    padding-top: 10px;
    font-size: 16px;
    margin-left: 30px;
    margin-top: 30px;
}

.course-link {
    margin-left: 30px;
    margin-top: 30px;
    margin-bottom: 20px;  
    font-size: 18px;
    font-weight: bold;
    color: rgba(209, 161, 16, 0.993);
}

.course-link:hover {
    color: #000000;
}

/*--------------------coin-call section-------------*/

    .coin-call-container {
    width: 100%;
    margin-top: 70px;
    padding-right: 0;
    padding-left: 0;
    background-image: url("../images/silver.jpg");
    background-repeat: no-repeat;
    background-position: center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.coin-list {
    font-size: 26px;
    font-weight: bold;
    color: #ffffff;
    margin-top: 20px;
    font-family: 'Goldman', cursive;    
}

#coinbuttons {
  display: flex;
  justify-content: space-around; 
}

.coinbutton {
    font-size: 26px;
    font-weight: bold;
    color: #ffffff;
    margin-top: 20px;
    font-family: 'Goldman', cursive; 
    background-color: hsla(120, 100%, 50%, 0);
}

.extitle {
    font-size: 26px;
    font-weight: bold;
    color: #ffffff;
}

.exchanges {
    background-color: #000000;
    width: 80%;
}

.imput-text {
    font-size: 20px; 
    color: #ffffff;;
    margin-bottom: 5px;
    font-weight: bold;
    background-color: #000000;
}

#imput1 {
    margin-top: 35px;
    margin-bottom: 15px;
}

#imput-text4 {
    font-size: 20px; 
    color: #ffffff;;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: bold;
    background-color: #000000;
}

.exchanges #coin-data {
    padding: 2px 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    height: 30px;
    width: 100px;
    background-color: #ffffff;
    color: #000000;
    font-weight: bold;
    border: 2px solid rgba(209, 161, 16, 0.993);
    border-radius: 5px;
}

.exchanges #coin-data2 {
    padding: 2px 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    height: 30px;
    width: 100px;
    background-color: #ffffff;
    color: #000000;
    font-weight: bold;
    border: 2px solid rgba(209, 161, 16, 0.993);
    border-radius: 5px;
}

.coin-data4 {
    padding: 2px 20px;
    height: 30px;
    width: 100px;
    background-color: #ffffff;
    color: #000000;
    font-weight: bold;
    border: 2px solid rgba(209, 161, 16, 0.993);
    margin-bottom: 20px;
}

.exbox {
    display: flex;
    justify-content: space-around;
}

.exchanges ::placeholder {
    color: rgba(209, 161, 16, 0.993);
}

.exchanges input[type=text] {
    padding: 2px 18px;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100px;
  border: 2px solid rgba(209, 161, 16, 0.993);
  border-radius: 4px;
  background-color: #fff;
  color: #000000;
  font-weight: bold;

}

.exchanges #coinfetch {
    margin-top: 20px;
    margin-bottom: 20px;
    height: 30px;
    width: 100px;
	color: #ffffff;
	background-color: rgba(209, 161, 16, 0.993);
    border-radius: 5px;
}

.exchanges #coinfetch2 {
    margin-top: 20px;
    margin-bottom: 20px;
    height: 30px;
    width: 100px;
	color: #ffffff;
	background-color: rgba(209, 161, 16, 0.993);
    border-radius: 5px;
}

.exchanges #clear {
    margin-top: 20px;
    margin-bottom: 20px;
    height: 30px;
    width: 100px;
	color: #ffffff;
	background-color: rgba(209, 161, 16, 0.993);
    border-radius: 5px;
}

.exchanges #clear2 {
    margin-top: 20px;
    margin-bottom: 20px;
    height: 30px;
    width: 100px;
	color: #ffffff;
	background-color: rgba(209, 161, 16, 0.993);
    border-radius: 5px;
}

.but-which {
    color: #ffffff;
    margin-left: 30px;
    font-size: 16px;
    font-weight: bold;
    margin-top: 60px;
    align-items: flex-end;
}

.but-whichl {
    color: #ffffff;
    font-size: 26px;
    font-weight: bold;
    margin-left: 50px;
    margin-top: 60px;
    align-items: flex-end;
}

.coincourse {
 color: #ffffff;
    font-size: 26px;
    font-weight: bold;   
}  

.coincourse-icon {
    margin-left: 50px;
}

.but-whichl a {
    color: #ffffff;
    font-size: 26px;
    font-weight: bold; 
}

.but-whichl a:hover {
    color: #000000;
    font-size: 26px;
    font-weight: bold; 
}
.but-which1-icon {
    font-size: 26px;
    margin-left: 50px;
}

/*-----------------------Footer--------------------*/
.footer-container {
    width: 100%;
    margin-top: 70px;
    background-image: url("../images/entf.jpg");
    background-repeat: no-repeat;
    background-position: center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.footer-block {
    margin-top: 70px;
    margin-bottom: 5px;
    padding: 10px 10px;
}

.footer-par {
font-size: 14px;
color: #ffffff;
font-weight: bold;
}

.footer-link {
    font-size: 20px;
    color: #ffffff;
    font-weight: bold;
    font-family: 'Goldman', cursive;
}

.footer-link:hover {
    color: #000000;
    font-weight: bold;
}

.social-links li a {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  margin: 0 auto;
  color: #ffffff;
  padding: 10px;
  
}

.social-links li a:hover {
  color: #000000;
}

/*----------------------Courses Page----------------*/
.coursefull-container {
    width: 100%;
}

.coursefull-img {
    width: 70%;
    height: 300px;
    margin-top: 100px;
    padding-right: 0;
    padding-left: 0;
    background-image: url("../images/bitonl.jpg");
    background-repeat: no-repeat;
    background-position: center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover; 
}

.coursefull-img2 {
    width: 70%;
    height: 300px;
    margin-top: 100px;
    padding-right: 0;
    padding-left: 0;
    background-image: url("../images/bit1w.jpg");
    background-repeat: no-repeat;
    background-position: center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover; 
}

.coursefull-img3 {
    width: 70%;
    height: 300px;
    margin-top: 100px;
    padding-right: 0;
    padding-left: 0;
    background-image: url("../images/bit4.jpg");
    background-repeat: no-repeat;
    background-position: center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover; 
}

.coursefull-title {
    color: #ffffff;
    font-size: 28px;
    font-weight: bold;
    background-color: #000000;
}

.coursefull-title2 {
    color: #ffffff;
    font-size: 16px;
}

.modules {
    width: 70%;
    margin-top: 30px;
}

.coursefull-mod {
    color: rgba(209, 161, 16, 0.993);
    font-size: 24px;
    margin-top: 40px;
    margin-bottom: 30px;
}

.mod p {
    font-size: 16px;
}

/*-----------------------about/review pages--------------------*/
.about-container {
    width: 100%;
}

.about-row {
    margin-top: 70px;
     background-color: #eeeeee;
     margin-left: 50px;
     margin-right: 50px;
}

.ustop {
    width: 100%;
    height: 150px;
    margin-top: 75px;
    background-color: #333333;
    border: 2px solid rgba(209, 161, 16, 0.993);
}

.map-ustop {
    width: 100%;;
    margin-top: 5px;
    background-color: #333333;
    border: 2px solid rgba(209, 161, 16, 0.993);
}

.ustop-nar {
    width: 100%;
    height: 60px;
    margin-top: 75px;
    background-color: #333333;
    border: 2px solid rgba(209, 161, 16, 0.993);
}

.ustop-title {
font-size: 30px;
font-weight: bold;
letter-spacing: 2px;
font-family: 'Goldman', cursive;
color: #ffffff;
}

.about-title {
    margin-top: 70px;
    color: #666666;
    font-size: 30px;
}

.describe {
    width: 80%;
}

.describe-t {
    font-size: 20px;
    color: #333333;
}

.describe-p {
    font-size: 16px;
    color: #666666;
}

.usbutt {
    height: 40px;
    width: 100px;
    background-color: #ffffff;
    color: rgba(209, 161, 16, 0.993);
    border: 2px solid rgba(209, 161, 16, 0.993);
    font-size: 24px;
    font-weight: bold;
    border-radius: 5px;
}

.usbutt a {
    color: rgba(209, 161, 16, 0.993);
    font-size: 24px;
    font-weight: bold;
}

.usbutt a:hover {
    color: #000000;
    font-size: 24px;
    font-weight: bold;
}

/*-----------------------map page--------------------*/

.map-container {
    margin-top: 5px;
}
div #map1 {
    min-height: 360px;
}
/*---------------------embed page---------------------*/

.places-container {
    margin-top: 75px;
}

#places-instruct {
    font-size: 20px;
    background-color: rgba(209, 161, 16, 0.993);
    color: #ffffff;
    margin-bottom: 50px;
    font-family: 'Merriweather', serif;
}

.embut-container {
    margin-top: 50px;
}

.embed-btn {
    background-color: rgba(209, 161, 16, 0.993);
    color: #ffffff;
}

/*------------------Contact form--------------------*/

#contact-bit {
    margin-top: 50px;
    background-color: #fff;
    color: blue;
}
#entercom {
    font-family: "Exo", sans-serif;
    font-size: 22px;
    margin-bottom: 20px;
    color: blue;
    }

#messagebox {
    color: red;
}

/*--------form------*/
.form-group {
    padding-top: 10px;
    margin: 0 auto;
    max-width: 90%;
}

button[type="submit"] {
    margin-top: 15px;
    margin-bottom: 20px;
    color: #fafafa;
    background-color: #e84610;
}

#messagebox {
    color: red;
}

/*-----------------------media queries--------------------*/

@media screen and (max-width: 768px) {
    .footer-container {
    background-image: url("/assets/images/ents.jpg");
    }
.footer-block {
    margin-top: 20px;
    margin-bottom: 5px;
    padding: 10px 50px;

}

.describe {
    margin-top: 50px;

}
}

@media screen and (max-width: 584px) {
 .but-whichl, .but-which {
    color: #ffffff;
    font-size: 16px;
    font-weight: bold;
    margin-top: 60px;
    align-items: flex-end;
}

}

@media screen and (max-width: 584px) {
 .coincourse-icon, .but-which1-icon, .map-topper-container {
    display: none;
}

    }

@media screen and (max-width: 350px)  {
    .footer-block {
    padding: 5px 5px;}
    }


@media screen and (min-width: 768px) {
    #title {
        position: absolute;
        left: 5%;
}

    .pagename {
        position: absolute; 
        left: 5%;
}
}

@media screen and (max-width: 768px) {
    #bitmatch {
        display: none;
    }

}