/*----------------------General----------------------*/
/*h3 {
	font-size: 20px;
	font-weight: bold;
	color: #999999;
}*/

/*p {
	font-size: 16px;
}*/



/*----------------------Index----------------------*/



/*----------------------Navlogo section----------------------*/

.navlogo-container {
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
	padding-left: 0;
	padding-right: 0;
}

.logo {
    /*height: 50px;
    margin-top: 10px;
    font-size: 20px;*/
    border-bottom: 2px solid gold;
}

#title {
margin: 20px 10px;
font-size: 26px;
}

#signin {
    height: 30px;
    width: 100px;
    background-color: gold;
    color: black;
    margin: 20px 10px;
}

/*.nav-container {}*/

#navbarNavDropdown {
	position: relative;
	z-index: 5;
	width: 50px;
	background-color: #ffffff;
    float: right;
}

#navbarNavDropdown ul li {
	display: inline-block;
}

.navbar {
    margin-top: 10px;
	margin-bottom: 0;
	border: 0;
	border-bottom: 2px solid gold;
	width: 100%;
}

.navbar .navbar-brand {
	font-weight: bold;
	font-size: 26px;
	color: #000000;
}

.navbar-custom .navbar-nav .nav-link {
	color: #999999;
	font-weight: bold;
}

.navbar-custom .navbar-nav .nav-link {
	color: #999999;
	font-weight: bold;
}

.navbar-custom .nav-item:hover .nav-link {
	text-decoration: underline;
	color: #999999;
}

.navbar-custom .nav-item.active .nav-link {
	color: #000000;
}

.navbar .navbar-nav .dropdown-item {
	color: #999999;
	font-weight: bold;
}

.navbar .navbar-nav .dropdown-item:hover {
	text-decoration: underline;
}


/*--------------------Header section-------------*/
.header-container {
    height: 100vp;
    /*background-image: */
    background-repeat: no-repeat;
	-webkit-background-size: contain;
	-moz-background-size: contain;
	-o-background-size: contain;
	background-size: contain;
    width: 100%;
	margin-top: 150px;
	/*max-height: 500px;*/
	position: relative;
    
}

/*--------------------Yellow section-------------*/
.yellow-container {
    /*height: 100vp;*/
    /*background-image: */
    width: 100%;
    
}


.bg-color-yellow

/*--------------------Future-money section-------------*/
.future-money-container {
    /*height: 100vp;*/
    /*background-image: */
    width: 100%;
    
}

/*--------------------Courses section-------------*/
.future-money-container {
    /*height: 100vp;*/
    /*background-image: */
    width: 100%;
    
}


/*--------------------coin-call section-------------*/
.coin-call-container {
    /*height: 100vp;*/
    /*background-image: */
    width: 100%;
    position: relative;
}
.coin-form #coin-data {
    padding: 12px 20px;
    margin: 8px 0;
    height: 30px;
    width: 200px;
    background-color: blue;
    color: #000000;
    font-weight: bold;
}

.coin-form ::placeholder {
    color: red;
}

.coin-form input[type=text] {
    padding: 12px 20px;
    margin: 8px 0;
    height: 30px;
    width: 200px;
  border: 2px solid red;
  border-radius: 4px;
  background-color: #fff;
  color: #000000;
  font-weight: bold;
  /*color: red;*/

}

.coin-form #coinfetch {
	margin-top: 15px;
	margin-bottom: 20px;
	color: #ffffff;
	background-color: red;
}

/*-----------------------Footer--------------------*/

/*--------------------------------------------trial*/


div #map1 {
    /*height: 700px;*/
    min-height: 360px;
}
/*-------------------------------------------embed-maps*/
/*.embed-map {
    width: 50%;
    height: 300px; 
    border: 0;
    display: block;
    margin: 50px auto;
}*/

.embed-btn {
  
    margin-top: 10px;
}

/*--------------------------------------------Contact form*/

/*#header p {
    
    margin: 20px auto;
}*/


.bg-color-contact {
    background-color: #fff;
}
.contact-heading {
    font-family: "Exo", sans-serif;
    font-weight: 300;
    margin-top: 25px;
    margin-bottom: 20px;
    color: blue;
    
}

/*center-form */
.form-group {
    padding-top: 10px;
    margin: 0 auto;
    max-width: 90%;
}

button[type="submit"] {
    margin-top: 15px;
    margin-bottom: 20px;
    color: #fafafa;
    background-color: #e84610;
}